.intro {
  min-height: 825px;

  color: $color-white;

  background-color: $color-dark;
  background-image: url("../img/content/bike@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) and (min-width: $laptop-width) {
    background-image: url("../img/content/bike@2x.jpg");
  }

  @media (max-width: $to-laptop-width) {
    position: relative;

    min-height: auto;

    background: none;
  }
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 254px 72px 237px 71px;

  @media (max-width: $to-laptop-width) {
    display: block;
    max-width: none;
    margin: 0;
    padding: 0;
  }
}
