.main-nav__toggle {
  display: none;

  @media (max-width: $to-laptop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    display: block;
    width: 50px;
    height: 50px;
    padding: 0;

    background-color: $color-light-blue;
    border: 0;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 14px;

  width: 22px;
  height: 1px;

  background-color: $color-black;
  box-shadow: 0 7px 0 0 $color-black, 0 13px 0 0 $color-black;
}

.main-nav.open .main-nav__toggle {
  background-color: $color-white;
}

.main-nav.open .main-nav__toggle::before,
.main-nav.open .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 9px;

  width: 32px;
  height: 1px;

  background-color: rgba($color-dark-special, 0.2);
  border-radius: 5px;
  box-shadow: none;
}

.main-nav.open .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav.open .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav.open .main-nav__toggle:hover:before,
.main-nav.open .main-nav__toggle:focus:before,
.main-nav.open .main-nav__toggle:hover:after,
.main-nav.open .main-nav__toggle:focus::after {
  background-color: rgba($color-dark-special, 1);
}

.main-nav.no-js .main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0 5px 5px 3px;

  list-style: none;

  border-bottom: 1px solid rgba($color-white, 0.2);

  grid-template-columns: max-content max-content max-content max-content;

  @media (max-width: $to-laptop-width) {
    display: none;
    padding: 0;
  }
}

.main-nav.open {
  @media (max-width: $to-laptop-width) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    overflow: hidden;
    overflow-y: auto;

    background-color: $color-white;
  }
}

.main-nav.open .main-nav__list {
  @media (max-width: $to-laptop-width) {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.main-nav.no-js {
  position: static;
}

.main-nav__link {
  display: block;
  padding: 5px 15px;

  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $color-white;

  opacity: 0.7;

  @media (max-width: $to-laptop-width) {
    position: relative;

    width: 100%;
    margin-bottom: 28px;
    padding: 17px 50px 17px 16px;

    font-size: 20px;
    line-height: 28px;
    color: $color-dark-light;

    background-color: $color-gray-dark;
    opacity: 1;
  }

  &::before {
    @media (max-width: $to-laptop-width) {
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;

      width: 8px;
      height: 12px;
      margin-top: -6px;

      background-image: url("../img/svg/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 12px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
