.map {
  padding-top: 91px;
  padding-bottom: 20px;
  min-width: 320px;
  max-width: 957px;
  margin: 0 auto;

  @media (max-width: $to-laptop-width) {
    padding: 11px 35px 17px;
  }

  @media (max-width: $to-tablet-width) {
    padding: 0;
    padding-top: 10px;
  }
}

.map__title {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-dark;

  @media (max-width: $to-laptop-width) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $to-tablet-width) {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;

    font-size: 18px;
  }
}

.map__text {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 41px;

  font-size: 17px;
  line-height: 31px;
  text-align: center;

  opacity: 0.7;

  @media (max-width: $to-laptop-width) {
    max-width: 640px;
    margin-bottom: 20px;
  }

  @media (max-width: $to-tablet-width) {
    max-width: 600px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.map__block {
  position: relative;
}

.map__block iframe {
  position: absolute;

  width: 100%;
  height: 530px;

  border: none;

  @media (max-width: $to-laptop-width) {
    height: 545px;
  }

  @media (max-width: $to-tablet-width) {
    height: 250px;
  }
}

.map__block img {
  width: 100%;
  height: 530px;

  object-fit: cover;

  @media (max-width: $to-laptop-width) {
    height: 545px;
  }

  @media (max-width: $to-tablet-width) {
    height: 250px;
  }
}
