.page-footer {
  padding: 14px 0 100px;

  @media (max-width: $to-laptop-width) {
    padding: 0 0 50px;
  }

  @media (max-width: $to-tablet-width) {
    padding: 30px 16px 50px;
  }
}

.page-footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 567px;
  margin: 0 auto;

  @media (max-width: $to-laptop-width) {
    max-width: 561px;
  }

  @media (max-width: $to-tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $to-tablet-width) {
    margin-bottom: 19px;

    &--mail {
      margin-left: 6px;
    }
  }
}

.page-footer__link span {
  font-size: 16px;
  line-height: 22px;

  opacity: 0.5;
}

.page-footer__link--phone span {
  line-height: 32px;
}

.page-footer__link:hover span,
.page-footer__link:focus span {
  opacity: 1;
}

.page-footer__link:active {
  opacity: 0.2;
}

.page-footer__link svg {
  margin-right: 16px;
}

.page-footer__link--phone {
  margin-right: 18px;

  @media (max-width: $to-laptop-width) {
    margin-right: 13px;
  }
}
