.types {
  background-color: $color-gray;
}

.types__wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px 60px;

  @media (max-width: $to-laptop-width) {
    padding: 48px 50px 69px;
  }

  @media (max-width: $to-tablet-width) {
    padding: 50px 25px 53px;
  }
}

.types__title {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 46px;

  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: $color-dark;

  @media (max-width: $to-laptop-width) {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $to-tablet-width) {
    margin-bottom: 31px;
  }
}

.types__list {
  display: grid;
  max-width: 1126px;
  margin: 0 auto;
  padding: 0;

  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $to-laptop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;

    grid-template-columns: none;
  }

  @media (max-width: $to-tablet-width) {
    grid-row-gap: 42px;
  }
}

