// Color
//---------------------------------

$color-white: #ffffff;
$color-black: #000000;
$color-light-black:#131314;
$color-dark:#1f1f1f;
$color-gray: #f6f7f9;
$color-light-gray: #e5e5e5;
$color-light-blue: #0ad9c6;

// Fonts
//---------------------------------

$font-family--open-sans: "Open-Sans", "Arial", sans-serif;

// Viewports
//---------------------------------

$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;
